extends ../layouts/default

block content
  h1.
    Trips
  table
    tr
      th Trip Id
      th Start Time
      th End Time
      th Start Location
      th End Location
      th Duration
    each trip in trips
      tr
        td= trip.trip_id
        td= trip.start_time
        td= trip.end_time
        td= trip.start_station
        td= trip.start_station
        td= trip.duration

